[Desktop Entry]
Name=File Renamer
Name[am]=ፋይል እንደገና መሰየሚያ
Name[ar]=مُعيد تسمية الملف
Name[ast]=Renomar ficheros
Name[az]=Fayl Yenidən Adlandırıcı
Name[be]=Перайменаванне файлаў
Name[bg]=Преименуване на файлове
Name[br]=Adanver restroù
Name[ca]=Reanomenador d'arxius
Name[ca@valencia]=Reanomenador de fitxers
Name[ckb]=ناونەرەوەی پەڕگە
Name[cs]=Nástroj na přejmenování souborů
Name[cy]=Ailenwr Ffeiliau
Name[da]=Omdøbning af filer
Name[de]=Dateiumbenennung
Name[el]=Μετονομαστής Αρχείων
Name[eo]=Dosieralinomilo
Name[es]=Renombrador de archivos
Name[et]=Failide ümbernimetamine
Name[eu]=Fitxategien izen-aldatzailea
Name[fa]=تغییردهنده نام فایل
Name[fi]=Bulky tiedostonimeäjä
Name[fil]=Tagapalit ng Pangalan ng File
Name[fr]=Renommeur de fichiers
Name[fr_CA]=Renommeur de fichiers
Name[he]=משנה שמות קבצים
Name[hi]=फाइल नाम परिवर्तन साधन
Name[hr]=Preimenovatelj datoteka
Name[hu]=Fájlátnevező
Name[ia]=Renominator de files
Name[ie]=Renomitator de files
Name[is]=Skráaendurnefnari
Name[it]=Rinominatore di file
Name[ja]=ファイル名変更ツール
Name[ka]=ფაილის სახელის გადამრქმევი
Name[kab]=Amesnifel n yisem n ufaylu
Name[ko]=파일 이름 변경
Name[ku]=Jinûve Binavkirin
Name[la]=Commutatio Nominum
Name[lo]=ໂປຣແກຣມປ່ຽນຊື່ໄຟລ໌
Name[lt]=Failų pervadinimo įrankis
Name[lv]=Failu pārdēvētājs
Name[ml]=ഫയൽ പുനർനാമകരണം
Name[ms]=Penama Semula Fail
Name[nb]=Filnavnendring
Name[nds]=dateie-umnenna
Name[nl]=Bestandhernoemer
Name[nn]=Filnamnendrar
Name[oc]=Renomenador de fichièrs
Name[pl]=Zmiana nazw plików
Name[pt]=Renomeador de ficheiros
Name[pt_BR]=Renomeador de arquivo
Name[ro]=Redenumire fişier
Name[ru]=Переименователь файлов
Name[rue]=Переназвач файлув
Name[sid]=Fayilete su'ma soorraaancho
Name[sk]=Nástroj na premenovanie súborov
Name[sl]=Preimenovalnik datotek
Name[sq]=Riemërtuesi i skedarëve
Name[sr]=Преименоватељ датотека
Name[sr@ijekavian]=Преимењивач датотека
Name[sr@latin]=Preimenovatelj datoteka
Name[sv]=Filnamnbyte
Name[szl]=Zmiana mian ôd zbiorōw
Name[ta]=கோப்புக்கு மறுபெயரிடுபவர்
Name[te]=ఫైల్  పేరుమార్చేది
Name[th]=เครื่องมือเปลี่ยนชื่อแฟ้ม
Name[tr]=Dosya Yeniden Adlandırıcı
Name[tt]=Файл атауын өзгертуші
Name[uk]=Перейменування файлу
Name[ur]=فائل کا نام تبدیل کرنے والا
Name[uz]=Fayl nomini oʻzgartiruvchi
Name[vi]=Trình đổi tên tệp
Name[zh_CN]=文件重命名工具
Name[zh_TW]=檔案改名工具
Comment=Rename files and directories
Comment[am]=ፋይሎች እና ዳይሬክቶሪ እንደገና መሰየሚያ
Comment[ar]=إعادة تسمية الملفات والمجلدات
Comment[ast]=Renomar ficheros ya direutorios
Comment[az]=Fayl və qovluqları yenidən adlandır
Comment[be]=Масавае перайменаванне файлаў і папак
Comment[bg]=Преименуване на файлове и папки
Comment[br]=Adenvel restroù ha kavlec'hiadoù
Comment[ca]=Reanomena arxius i directoris
Comment[ca@valencia]=Reanomena fitxers i directoris
Comment[ckb]=دووبارە ناوی پەڕگە و پێڕستەکان بنێرەوە
Comment[cs]=Přejmenovává soubory a složky
Comment[cy]=Ailenwi ffeiliau a chyfeiriaduron
Comment[da]=Omdøb filer og mapper
Comment[de]=Dateien und Verzeichnisse umbenennen
Comment[el]=Μετονομάστε αρχεία και φακέλους
Comment[eo]=Alinomi dosierojn kaj dosierujojn
Comment[es]=Renombrar archivos y carpetas
Comment[et]=Nimeta failid ja kataloogid ümber
Comment[eu]=Aldatu fitxategi eta direktorioen izenak
Comment[fa]=تغییر نام فایل ها و شاخه ها
Comment[fi]=Nimeä tiedostot ja hakemistot uudelleen
Comment[fil]=Palitan ang pangalan ng files at directories
Comment[fr]=Renommer des fichiers et dossiers
Comment[fr_CA]=Renommer des fichiers et dossiers
Comment[he]=שינוי שמות קבצים ותיקיות
Comment[hi]=फाइल व डायरेक्टरी नाम परिवर्तन
Comment[hr]=Preimenujte datoteke i direktorije
Comment[hu]=Fájlok és mappák átnevezése
Comment[ia]=Renominar files e directorios.
Comment[id]=Ubah nama-nama file dan direktori
Comment[ie]=Renominar files e fólderes
Comment[ig]=Gbanwee aha faịlụ na folda
Comment[is]=Endurnefna skrár og möppur
Comment[it]=Rinomina file e cartelle
Comment[ja]=ファイルとディレクトリの名前を変更します
Comment[ka]=ფაილებისა და საქაღალდეების სახელის გადარქმევა
Comment[kab]=Snifel ismawen n yifuyla akked yikaramen
Comment[kk]=Файл мен буманы қайта атау
Comment[ko]=파일 및 디렉터리 이름 변경
Comment[ku]=Dosya û rê jinûve binav bikin
Comment[la]=Nomina plicarum et directoriorum muta
Comment[lo]=ປ່ຽນຊື່ໄຟລ໌ ແລະ ໄດເຣັກທໍຣີ
Comment[lt]=Pervadinti failus ir katalogus
Comment[lv]=Pārdēvēt failus un mapes
Comment[ml]=ഫയലുകളുടെയും ഡയറക്ടറികളുടെയും പേരുമാറ്റുക
Comment[ms]=Namakan semula fail dan direktori
Comment[nb]=Endre navn på filer og mapper
Comment[nds]=dateie un verzeechnise umnenneh
Comment[nl]=Bestanden en mappen hernoemen
Comment[nn]=Endre filnamn og filbane
Comment[oc]=Renomenar los fichièrs e repertòris
Comment[pl]=Zmieniaj nazwy plików i katalogów
Comment[pt]=Renomear ficheiros e diretórios
Comment[pt_BR]=Renomear arquivos e diretórios
Comment[ro]=Redenumiți fișierele și directoarele
Comment[ru]=Переименование файлов и каталогов
Comment[rue]=Переназвіт файлы а діректорії
Comment[sk]=Premenováva súbory a adresáre
Comment[sl]=Preimenujte datoteke in mape
Comment[sq]=Riemërtoni skedarët dhe drejtoritë
Comment[sr]=Преименуј датотеке и директоријуме
Comment[sr@ijekavian]=Преименуј датотеке и директоријуме
Comment[sr@latin]=Preimenuj datoteke i direktorijume
Comment[sv]=Döp om filer och mappar
Comment[szl]=Przemianuj zbiory i katalogi
Comment[ta]=கோப்புகள் மற்றும் கோப்பகங்களை மறுபெயரிடவும்
Comment[te]=ఫైల్‌లు మరియు డైరెక్టరీల పేరు మార్చండి
Comment[th]=เปลี่ยนชื่อแฟ้มและไดเรกทอรี
Comment[tr]=Dosya ve dizinleri yeniden adlandır
Comment[tt]=Файлдар мен каталогтардың атын өзгерту
Comment[uk]=Перейменувати файли та каталоги
Comment[ur]=فائلوں اور ڈائریکٹریوں کا نام تبدیل کریں۔
Comment[uz]=Fayllar va kataloglarning nomini o'zgartirish
Comment[vi]=Đổi tên tệp và thư mục
Comment[zh_CN]=重命名文件和目录
Comment[zh_TW]=更改檔案和目錄名
Exec=bulky
Icon=bulky
Terminal=false
Type=Application
Encoding=UTF-8
Categories=GTK;Utility;Core;
Keywords=rename;bulk;
StartupNotify=false
