[Desktop Entry]
Name=File Renamer
Comment=Rename files and directories
Exec=bulky
Icon=bulky
Terminal=false
Type=Application
Encoding=UTF-8
Categories=GTK;Utility;Core;
Keywords=rename;bulk;
StartupNotify=false
